<html>
   <body>
      
      <form action = "{{ url_for('add_customer') }}" method = "POST">
         <h3>Customer Information Information</h3>
         First Name<br>
         <input type = "text" name = "first_name" /></br>
         
         Last Name<br>
         <input type="text" name = "last_name" ></input><br>
         
         Date of Birth<br>
         <input type = "date" name = "dob" /><br>
         
         Monthly Income R<br>
         <input type = "text" name = "monthly_income" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
      <div><h4 style="color:red">{{message}}</h4></div>
      <table border = 1>
        <thead>
           <td>First Name</td>
           <td>Last Name</td>
           <td>Monthly Income(R)</td>
           <td>DOB</td>
           <td>Status</td>
           <td>Actions</td>
        </thead>
        
        {% for customer in customers %}
           <tr>
              <td>{{customer["first_name"]}}</td>
              <td>{{customer["last_name"]}}</td>
              <td> {{customer["monthly_income"]}}</td>
              <td> {{customer["dob"]}}</td>
              <td>{{customer['status']}}</td>
              <td><button>Approve</button>|<button>Decline</button></td>	
           </tr>
        {% endfor %}
     </table>
   </body>
   
  
</html>